.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem; 
  max-height: 145vh; 
  min-width: 100%; 
  background-color: var(--black); 
  color: var(--white); 
  position: relative; 
  box-sizing: border-box; 
  margin: 0; 
  z-index: 1;  
}

.body {
  margin: 0; 
  padding: 0; 
}

.table {
  margin-top: 20px; 
  border: 1px dashed var(--white); 
  padding: 21px; 
  transform: translate(100px, 100px); 
}

.tr {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  border: 1px solid var(--white); 
  padding: 10px; 
  transform: translate(100px, 100px);
  background: var(--black); 
  color: var(--white);  
  flex-wrap: wrap; 
}

.item {
  padding: 10px; 
}

.dragonleft {
  transform: translate(-600px, -600px); 
  position: absolute; 
  z-index: -5; 
}

.dragonright {
  transform: translate(300px, -600px); 
  position: absolute; 
}

.lanterns {
  position: absolute; 
  transform: scale(2) translate(50px, -80px); 
}

/* tablet */
@media (min-width: 701px) and (max-width:1120px) {

.dragonright {
  transform: scale(0.50) translate(330px, -1410px); 
}
  
.dragonleft {
  transform: scale(-0.50) translate(930px, 1410px) rotate(180deg); 
}

.lanterns {
  transform: scaleX(2.25) scaleY(1.5) translate(45px, -120px); 
  z-index: 1; 
}

.table {
  transform: translate(100px); 
}

.input {
  transform: translate(100px, 5px); 
}

.main {
  width: 100%; 
}
}


/* mobile */

@media (max-width: 700px) {

.dragonleft {
  display: none; 
}

.dragonright {
  display: none; 
}

.lanterns {
  transform: scaleX(-1.10) scaleY(-0.9) rotate(180deg) translate(95px, -190px); 
}

.table {
  transform: translate(100px, -20px); 
}

.input {
  transform: translate(100px, -20px); 
}

.main {
  max-height: 160vh; 
}
}

