.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem; 
  max-height: 145vh; 
  min-width: 100%; 
  background-color: var(--black); 
  color: var(--white); 
  position: relative; 
  box-sizing: border-box; 
  margin: 0; 
  z-index: 1;  
}

.body {
  margin: 0; 
  padding: 0; 
}

.table {
  margin-top: 20px; 
  border: 1px dashed var(--white); 
  padding: 21px; 
  transform: translate(100px, 100px); 
}

.tr {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.input {
  border: 1px solid var(--white); 
  padding: 10px; 
  transform: translate(100px, 100px);
  background: var(--black); 
  color: var(--white);  
  flex-wrap: wrap; 
}

.item {
  padding: 10px; 
}

.dragonleft {
  transform: translate(-600px, -600px); 
  position: absolute; 
  z-index: -5; 
}

.dragonright {
  transform: translate(300px, -600px); 
  position: absolute; 
}

.lanterns {
  position: absolute; 
  transform: scale(2) translate(50px, -80px); 
  z-index: -1; 
}